.imageCard {
  border: 5px solid #222222;
}
.hightBar {
  /* background-color: blueviolet; */
}
.weightBar {
  /* background-color: midnightblue; */
}
/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #444444;
}

input:focus + .slider {
  box-shadow: 0 0 1px #444444;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ~~~~~toggle~~~~~d */

/*ting code*/
.image > div {
  display: flex;
}

.image > div > label {
  width: 33%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image > div > label > i {
  position: absolute;
  font-size: 25px;
  color: black!important;
}

.img-thumbnail {
  display: block;
  min-width: 70px;
  min-height: 100px;
  width: auto;
  height: auto;
  max-width: 140px;
  max-height: 200px;
  padding: 0.25rem;
  background-color:#fff;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
}

.Icon {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.editForm{
  position: absolute;
  background-color: #0000006e;
  top:0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: scroll;
  padding:20px
}

.isHide{
  display: none;
}

.writeBox {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
}
.writeBoxAboutMe {
  resize: none;
  width: 100%;
  border-radius: 10px;
}

#exitEditFormBtn{
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 25px;
  margin: 15px;
}

.logout_form{
  position: absolute;
  z-index: 5;
  bottom:80px;
  right:40px;
  color: #ffffff;
  /* display: flex;
  justify-content: end */
}

.logout_form > button{
  color: white;
}

#location{
  border-radius: 10px;
  padding: 5px;
}

#education_level{
  border-radius: 10px;
  padding: 5px;
}

.editBox > div > div{
  color:#ffffff;
  margin:5px;
}

.form-range::-webkit-scrollbar-button{
  color: #222222;
}

.submit_edit_form_button{
  background-color: white;
  font-size: 15px;
  padding:5px 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  border-radius: 10px;
}