/* modal filter form */
.modal-backdrop {
  z-index: 0;
}

/* Start of double input range slider */
#filter-modal {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.modal-title {
    font-weight: 600;
    font-size: 30px;
}

.double_slider {
  position: relative;
  height: 10px;
  z-index: 1;
  user-select: none;
  margin: 10px 5px 10px 5px;
}
.track {
  height: 5px;
  position: absolute;
  left: 0%;
  top: 2px;
  right: 0%;
  border-radius: 5px;
  background-color: #c6aee7;
  z-index: 1;
}
.range {
  height: 5px;
  position: absolute;
  left: 0%;
  top: 2px;
  right: 0%;
  bottom: 0px;
  border-radius: 5px;
  background-color: #333366;
  z-index: 2;
}
.thumb.left {
  position: absolute;
  left: 0%;
  width: 30px;
  height: 30px;
  background-color: #ffc796;
  border-radius: 50%;
  transform: translate(-15px, -10px);
  z-index: 3;
}
.thumb.right {
  position: absolute;
  right: 0%;
  width: 30px;
  height: 30px;
  background-color: #ff6b95;
  border-radius: 50%;
  transform: translate(15px, -10px);
  z-index: 3;
}

.caption {
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
}

#show-me {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 500;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FF69B4 !important;
    border: 1px solid #fff !important;
}
