/* modal filter form */
.modal-backdrop {
  z-index: 0;
}

/* Start of double input range slider */
#filterModal {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.modal-title {
  font-weight: 600;
  font-size: 40px;
}

.double_slider {
  position: relative;
  height: 10px;
  z-index: 1;
  user-select: none;
  margin: 10px 15px 30px 15px;
}
.track {
  height: 5px;
  position: absolute;
  left: 0%;
  top: -2px;
  right: 0%;
  border-radius: 5px;
  background-color: #c6aee7;
  z-index: 1;
}
.range {
  height: 5px;
  position: absolute;
  left: 0%;
  top: -2px;
  right: 0%;
  bottom: 0px;
  border-radius: 5px;
  background-color: #333366;
  z-index: 2;
}

.thumb.left {
  position: absolute;
  left: 0%;
  width: 20px;
  height: 20px;
  background-color: #ffc796;
  border-radius: 50%;
  transform: translate(-15px, -10px);
  z-index: 3;
}
.thumb.right {
  position: absolute;
  right: 0%;
  width: 20px;
  height: 20px;
  background-color: #ff6b95;
  border-radius: 50%;
  transform: translate(15px, -10px);
  z-index: 3;
}

.caption {
  font-size: 20px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
}

#show-me {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
}

#show-me > .form-check-label{
  font-size: 18px;
  font-weight: 300;
}

#age-value {
  font-size: 18px;
  font-weight: 300;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #ff69b400 ;
  border: 1px solid #ffffff00 ;
  color: #000;
  font-size: 25px;
  margin-top: 0px!important;
  padding-bottom: 10px;
  background-color: #ff69b4 !important;
  border: 1px solid #fff !important;
}

