html {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

body {
  font-family: 'Noto Sans HK', sans-serif;
  background: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
}

#index-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.bi {
  letter-spacing: -15px;
}

#logo-text {
  margin: 10px;
  font-weight: 500;
}

.meet-description {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin: 20px;
}

.meet-logo {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.meet-text {
  font-size: 80px;
  font-family: 'Love Ya Like A Sister', cursive;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

#login_modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
}

#signup_modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.gender-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-check-label {
  margin-right: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FF69B4 !important;
    border: 1px solid #fff !important;
}