.login_form,
.logout_form {
  /* border: 1px solid #222222; */
  display: flex;
  justify-content: end;
}

body {
  font-family: "Noto Sans HK", sans-serif;
  background: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
  /* prevent text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  font-family: "Noto Sans HK", sans-serif;
}

.meet-text > .bi {
  letter-spacing: -12px;
}

#logo-text {
  margin: 20px;
  font-weight: 500;
}

.meet-logo {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.meet-text {
  font-size: 40px;
  font-family: "Love Ya Like A Sister", cursive;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  padding-left: 10px;
}

#filterBtn {
  display: flex;
  justify-content: flex-end;
}

.carousel-control-next {
  left: 30% !important;
}

.edit {
  margin-bottom: 70px;
}

/* input[type="file"] {
    display: none;
} */
.image_group {
  display: flex;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.informationTable {
  margin-top: 50px;
}

.img-thumbnail {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
.writeBox {
  width: 100%;
  border-radius: 10px;
}
.writeBoxAboutMe {
  resize: none;
  width: 100%;
  border-radius: 10px;
}

.content {
  grid-area: content;
  height: fit-content;
  position: relative;
  display: flex;
  border: 1px solid;
  overflow: hidden;
}
#slider_container {
  display: flex;
  width: 100%;
  min-width: 360px;
}
.slider {
  position: relative;
  min-width: 100%;
}
.ImageTable {
  display: flex;
  flex-wrap: wrap;
}
.userImage {
  width: 50%;
}
.ImageTable > section {
  padding: 10px;
}
.ImageTable > section > div {
  width: 100%;
}
.isHide {
  display: none;
}

#exitEditForm {
  position: absolute;
  top: 0px;
  right: 0px;
}

.submit_edit_form_button{
  margin:20px
}

.editForm{
  margin-bottom: 200px;
}