.menubarTable {
  /* width: 50px; */
  margin: 5px;
  height: 50px;
  background-color: #ffc796;
  border: 1px ridge #222222;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 5px;
}

.btn-outline-secondary {
  --bs-btn-hover-bg: #ff69b4;
}
